{% extends 'base.html' %}

{% block title %}Mahsulotlar Ro'yxati{% endblock %}

{% block content %}
    <div class="container mt-4 flex-grow-1">
        <h1>Mahsulotlar Ro'yxati</h1>
        <div class="row">
            {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <a href="{% url 'products:detail' product.id %}" class="btn btn-primary">Batafsil</a>
                    </div>
                </div>
            </div>
            {% empty %}
                <h2>Hozircha Mahsulotlar Yoq</h2>
            {% endfor %}
        </div>
    </div>
{% endblock %}
